services:
  flask_api:
    build: .
    container_name: model_server_api
    ports:
      - "8086:8086"
    networks:
      - model_server_net
    env_file:
      - .env
    environment:
      PORT: ${PORT}
      API_HOST: ${API_HOST}
      MODELS_PATH: ${MODELS_PATH}
      REGISTRY: ${REGISTRY}
      MODEL_SOURCE: ${MODEL_SOURCE}
      GITHUB_REPO: ${GITHUB_REPO}
      GITHUB_BRANCH: ${GITHUB_BRANCH}
      GITHUB_TOKEN: ${GITHUB_TOKEN}
    volumes:
      - models_data:/models                     # mount named volume for models/
      - /var/run/docker.sock:/var/run/docker.sock   # gives docker access to my pyhton code (tfserving_manager.py)
    labels:
      project: ModelServerREST
    #restart: unless-stopped

  model_syncer:
    profiles: ["local"]
    build:
      context: ./syncer
      dockerfile: syncer.Dockerfile
    container_name: model_syncer
    volumes:
      - ./models:/local_models   # Host folder (read-only inside container)
      - models_data:/models         # Shared named volume
    restart: unless-stopped
    networks:
      - model_server_net
    working_dir: /syncer
    depends_on:
      - flask_api


volumes:
  models_data:                                  # declare named volume 

networks:
  model_server_net:
    external: true      